<!DOCTYPE html>
    <html>
    <head>
        <title>ADM</title>
    </head>
    <body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    </body>
    </html>